body{
    background-color: black;

}
#wrapper{
  width:auto;
  height:auto;
  background-image: url();
  background-size: auto;
  background-repeat: no-repeat;
}
#banner{
        width:100%px;
        height: 140px;
        background-image: url("images/animals.jpg");
        background-size: 948px 100px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
       border: 1px red solid;
       margin:0;
     }

#h1color{
  color: white;
margin-bottom:0px;
  }
#pset{
  color:white;
  margin-top: -5px;
}
